@{
    ViewData["Title"] = "Home Page";
}

<a href="/users/userlist">resource</a>
<br />
<a href="/jwt/jwtuserlist">jwt resource</a>
<br />
<br />
<a href="/users/userself">authrole</a>&nbsp;&nbsp;<a href="/users/userself2">authrolenote</a>
<br />
<br />
<a href="/Resource/getreource">authorizeResource</a>
<br />
<a href="/users/edit">authedit</a>
<br />
<br />
<a href="/users/delete">authadd</a>
<br />
<br />
<a href="/users/subscribe">authsub</a>