
@{
    ViewData["Title"] = "login";
}

<h1>login</h1>

<form action="/home/login" method="post" >
    
    <input type="text" name="name" value="" class="form-control"/>
    <input type="password" name="password" value="" class="form-control"/>
    <input type="submit" name="" value="sub" class="btn btn-info"/>
</form>