
@{
    ViewData["Title"] = "userself";
}

<h1>userself</h1>
@model AuthPro.Models.Users
<table class="table">
    <tr>
        <td>@Model.id</td>
        <td>@Model.name</td>
        <td>@Model.address</td>
        <td>@Model.email</td>
    </tr>
</table>
