
@{
    ViewData["Title"] = "login";
}

<h1>login</h1>
<form action="/home/login" method="post">
    <input type="text" name="um" value="" />
    <input type="text" name="pss" value="" />
    <input type="submit" name="n" value="登录" />
</form>
